{% extends 'Template/layout.twig' %}

{% block content2 %}
<h1> Liste des posts - Admin </h1>
<br />
<table class="table">
    <thead class="thead-light">
    <tr>
        <th>id</th>
        <th>image</th>
        <th>titre</th>
        <th>slug</th>
        <th>content</th>
        <th>date creation</th>
        <th>Editer</th>
				<th>supprimer</th>
    </tr>
    <thead>
{% for article in articles %}
    <tr>
       <td>{{ article.id }}</td>
       <td><img id="img_blog_admin" src="{{ article.url_images }}" alt="..." ></td>
       <td>{{ article.title }}</td>
       <td>{{ article.slug|slice(0, 55) }} ...</td>
       <td>{{ article.content|slice(0, 55) }} ...</td>
       <td>{{ article.date_creation|date("d/m/Y h:i:s") }}</td>
       <td>
					<a href="articles/update/{{article.id}}">
							<button type="button" class="btn btn-warning">modifier</button>
				</td>
				<td>
					<a href="articles/delete/{{article.id}}"> 
						<button  type="button" class="btn btn-danger" ><div class="top" ><span id="tool" data-toggle="tooltip" data-placement="bottom" title="Supp. définitive">supprimer</span><i></i></div></button>
				</td> 
    </tr>
   {% endfor%}
</table>
<br />
---------------------------------------------------------------------------------------------------------------------------------
<br />

<form method="post" action="admin/edit/" class="text-center border border-light p-5">
  <p class="h4 mb-4">Ajouter un article</p>

   <p><input type="hidden"  name="id"         value=""></p>
   <p><input type="text"    name="title"      value="" id="defaultContactFormName" class="form-control mb-4" placeholder="Titre" required></p>
   <p><input type="text"    name="slug"       value="" id="defaultContactFormName" class="form-control mb-4" placeholder="Slug" required></p>
   <p><input type="text"    name="content"    value="" id="defaultContactFormName" class="form-control mb-4" placeholder="Description" required></p> 
   <p><input type="text"    name="url_images" value="" id="defaultContactFormName" class="form-control mb-4" placeholder="copier l'url de l'image" required></p>
   <p><input type="submit"  value="envoyer"></p>

</form>
{% endblock content2 %}

