{% extends 'Template/layout.twig' %}

{% block content %}
<h1>{{ article.title }} </h1>
<p>Créé par {{article.pseudo}} - le {{ article.date_creation|date("d/m/Y h\\h i\\m s\\s")}}</p>

<figure><img class="circle" src="{{ article.url_images }}" class="card-img-top" alt="..." ></figure>
<p class="jmi"> {{ article.content|nl2br  }}</p>
<hr>
{% endblock %}

{% block form %}

<h2>{{ article.title }}</h2>
<h3>Vos commentaires ci-dessous :</h3>
  <form method="post" action="articles/read/{{ article.id }}" class="text-center border border-light p-5 comment">
  <p><input type="hidden"  name="id"        value=""></p>
  <p><input type="hidden"  name="posts_id"  value="{{ article.id }}"  id="defaultContactFormName" class="form-control mb-4"></p>
  <p><input type="hidden"    name="user_id"   value="{{ session.user.id }}"  id="defaultContactFormName" class="form-control mb-4" placeholder="mettre 0 pour l'instant"></p>
  <p><textarea rows="2" class="form-control ftext" id="comment" placeholder="Votre message" name="comment" required data-validation-required-message="Veuillez entrer votre commentaire."></textarea></p>
  {% if session.user is defined %}
  <p><input type="submit" value="envoyez" onclick="return window.confirm('votre message est en attente de validation !')"></p>  
  {% else %}
  <p>Pour laisser un message connectez-vous
<a href="users/createUsers" type="button" class="btn btn-outline-success">Se connecter</a>
  {% endif %}
</form>

<hr>
{% include 'comment.twig' with {'items': comments} %}
{% endblock %}
