{% extends 'Template/layout.twig' %}

{% block content %}
<h1>{{ article.title }} </h1>
<p>Créé par Administateur - le {{ article.date_creation|date("d/m/Y h\\h i\\m s\\s")}}</p>

<figure><img class="circle" src="{{ article.url_images }}" class="card-img-top" alt="..." ></figure>
<p class="jmi"> {{ article.content|nl2br  }}</p>
{% endblock %}


{% block form %}
<h2>{{ article.title }}</h2>
<h3>Vos commentaires ci-dessous :</h3>
  <form method="post" action="comment/edit/" class="text-center border border-light p-5">
  <p><input type="hidden"  name="id"         value="{{ article.id }}"></p>
  <p><input type="text"    name="pseudo"     value="{{ article.pseudo }}" id="defaultContactFormName" class="form-control mb-4" placeholder="pseudo" required></p>
  <p><textarea             name="comment"    value "{{ article.content }}" id="exampleFormControlTextarea2" class="form-control rounded-0"  rows="3" placeholder="Description" required></textarea></p>
  <p><input type="submit"                    value="envoyez"></p>
</form>
{% endblock %}


{% block content2 %}
commentaires test
  {% for item in comments %}
   <br/> {{ item.posts_id }}  - {{ item.comment }}   - ({{ item.date_comment }})

  {% endfor%}

{% endblock content2 %}