{% extends 'Template/layout.twig' %}

{% block img_accueil %} 
<div class="container-fluid">
  <div id="headerwrap">
    <div class="container-fluid">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- headerwrap -->
</div>
{% endblock img_accueil %}

{% block presentation %} 
  <!-- Content section -->
  <section class="py-5  presentation">
    <div class="container hero-unit">
      <h1>Les Meilleures Séries US</h1>
      <p class="lead">Blog étant principalement axé sur les news.</p>
      <p>vous aurez plein d’infos et de nouveautés concernant les séries en vogue, les nouvelles productions et les séries à voir. Vous connaîtrez les dates de sortie des saisons les plus attendues du grand public et d’autres informations sur les acteurs/personnages, le casting des nouveaux programmes, etc. Je ne fais aucune distinction avec ce blog de série TV : je parle de programmes divers et variés, des séries américaines très regardées comme des séries françaises intéressantes..</p>
      <br />
      <p>Consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </section>
{% endblock presentation %}

{% block content %}

	<h2 class="alert title-post text-center" role="alert">Les 5 derniers Articles</h2>

<ul>
    {% for article in articles %}
    <div class="card mb-2">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img id="img_blog" src="{{ article.url_images }}" class="card-img-top" alt="..." >
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">{{ article.slug}}
                        <a href="articles/read/{{article.id}}" class="badge badge-primary">Lire la suite</a>
                    </p>
                    <p class="card-text"><small class="text-muted">Créé par {{article.pseudo}} - le {{ article.date_creation|date("d/m/Y h\\h i\\m s\\s")}}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
    <div class="">
      <a href="Articles/listArticles" class="btn btn-primary btn-lg">Cliquez pour voir tous les articles</a>
    </div>
</ul>
{% endblock content %}

{% block content2 %}
<!-- Contact Form -->
    <div class="container"  id="contact">
        <div class="row has-success">
            <div class="col-lg-8 col-md-10 mx-auto mt-5" style="top: 50px";
>
                <h3 class="mb-3 border-bottom text-center col-12" >Me contacter</h3>

                <form name="sentMessage" id="contactForm" method="post" action="../public/?access=home!email">
                    <div class="control-group">
                        <div class="form-group  floating-label-form-group controls">
                            <label for="name">Votre Nom</label>
                            <input type="text" class="form-control ftext" id="name" placeholder="Nom" name="name"
                                   required
                                   data-validation-required-message="Veuillez entrer votre nom.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="telephone">Téléphone</label>
                            <input type="tel" class="form-control ftext" id="telephone" placeholder="Numéro"
                                   name="telephone"
                                   required
                                   data-validation-required-message="Veuillez entrer votre phone numéro de téléphone.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="email">Email</label>
                            <input type="email" class="form-control ftext" id="email" placeholder="Adresse email"
                                   name="email_from"
                                   required
                                   data-validation-required-message="Veuillez entrer votre adresse email.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="comments">Votre Message</label>
                            <textarea rows="4" class="form-control ftext" id="comments" placeholder="Message"
                                      name="comments"
                                      required
                                      data-validation-required-message="Veuillez entrer votre message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-dark" name="email">Envoyer <i
                                    class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content2 %}

{% block rss %}
    <div class="alert  text-center kek" role="alert">
      Les dernières actualités <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrLn2qgIEYXJBhVVVMXyHt5XTegKpf6yAmh4hIrCZ_vFhhr_ZF" style="width:25px;height:25px">     
    </div>
      <ul class="list-group">
	      {% for item in rssItems|slice(0,14) %}
					<li class="list-group-item">{{ item.pubDate|date("d/m/Y") }} - <a href="{{ item.link }}" target="_blank">{{ item.title }} </a></li>
        {% endfor %}
      </ul>
{% endblock rss %}