{% extends 'Template/layout.twig' %}
{% block content %}
	<p class="h4 mb-4">{{ configs.site.label }}</p>

	{% if errors %}
		<div class="alert alert-danger">
			<p>Le formulaire n'est pas rempli correctement :</p>
			{% for msg in errors %}
				<ul>
					<li>{{ msg }}</li>
				</ul>
			{% endfor %}
		</div>
	{% endif %}
<div class="container" id="contact">
	<div class="row has-success">
		<div class="col-lg-8 col-md-10 mx-auto mt-5" style="top: 50px" ;>
			<h3 class="mb-3 border-bottom text-center col-12">S'incrire</h3>
				<form method="post" action="Users/createUsers/">
					<div class="form-group">
						<input type="email" name="email" class="form-control" placeholder="Your Email *" value="{{ user.email }}" required/>
					</div>
					<div class="form-group">
						<input type="email2" name="email2" class="form-control" placeholder="Confimed Email  *" value="{{ user.email2 }}"/>
					</div>
					<div class="form-group">
						<input type="text" name="pseudo" class="form-control" placeholder="Your pseudo *" value="{{ user.pseudo }}"/>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control" placeholder="Your Password *" value="{{ user.password }}"/>
					</div>
					<div class="form-group">
						<input type="password" name="password2" class="form-control" placeholder="Confirmed Password *" value="{{ user.password }}"/>
					</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-outline-dark" name="formuser">Envoyer
						<i class="fas fa-paper-plane"></i>
					</button>
				</div>
				</form>
			</div>
		</div>
	</div>
              

{% endblock content %}
