{% extends 'Template/layout.twig' %}

{% block content2 %}
<h1> Liste des utilisateurs </h1>
<a href="users/createUsers">
			<button type="button" class="btn btn-success">ajouter</button></a>

<br />
<table class="table table-striped table-bordered dislay" id="mytable3">
    <thead>
    <tr>
        <th>id</th>
        <th>pseudo</th>
        <th>email</th>
        <th>mot de passe</th>
        <th>rôle</th>
        <th>Editer</th>
				<th>supprimer</th>
    </tr>
    <thead>
    <tbody>
{% for user in users %}
    <tr>
       <td>{{ user.id }}</td>
       <td>{{ user.pseudo }}</td>
       <td>{{ user.email }}</td>
       <td>{{ ' ... '~user.password|slice(0,20)~' ...'}}</td>
       <td>{{ user.role }}</td>
       <td>
			<a href="users/update/{{user.id}}">
			<button type="button" class="btn btn-warning">modifier</button>
		</td>
		<td>
			<a href="users/delete/{{user.id}}" onclick="return window.confirm('Êtes-vous certain de vouloir supprimer cette utilisateur ?!')"> 
			<button  type="button" class="btn btn-danger" >supprimer</button></a>
		</td> 
    </tr>
   {% endfor %}
   </tbody>
</table>  
{% endblock content2 %}